<h2 class="lgn"><small>wack</small>oveture</h2>

<% if current_user %>
  <% if current_user.admin == true %>
    <%= link_to "Add Tag", new_tag_path, class: "btn btn-default pull-right lgn" %>
  <% end %>
  <%= link_to "Ask Question", new_user_question_path(current_user), class: "btn btn-default pull-right lgn" %>
<% end %>

<div class="row">
  <div class="col-md-2">Top Questions</div>
  <hr>
</div>
<% @questions.each do |question| %>
  <div class="row">
    <div class="col-md-2">Answer Counter</div>
    <div class="col-md-4"><%= link_to question.title, question_path(question) %></div>
    <div class="col-md-2">Something over here</div>
  </div>
<% end %>
