<h2 class="lgn"><small>wack</small>oveture</h2>

<% if current_user %>
  <%= link_to "Log Out", log_out_path, class: "btn btn-danger pull-right lgn"  %>
  <%= link_to "Ask Question", new_question_path, class: "btn btn-default pull-right lgn" %>
  <% if current_user.email == "austin@austin.com" %>
    <%= link_to "Add Tag", new_tag_path, class: "btn btn-default pull-right lgn" %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-2">Top Questions</div>
  <hr>
</div>
<% @questions.each do |question| %>
  <div class="row">
    <div class="col-md-2">Answer Counter</div>
    <div class="col-md-4"><%= link_to question.title, question_path(question) %></div>
    <div class="col-md-2">Something over here</div>
  </div>
<% end %>
