<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Wack Oveture</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "sign up", new_user_path %></li>
      <li><%= link_to "sign In", log_in_path %></li>
    </ul>
  </div>
</nav>
